@import 'tailwindcss';










@theme {



  /* main color  */
  --color-bg: #001524;
  --color-paragraph: #FFECD1;

  /* button */
  --color-priButton: #FF7D00;
  --color-buttonText: #001524;
  --color-secButton: #15616D;
  --color-secButtonText: #FFECD1;

  /* Cards  */

  --color-cardBackground: #FFECD1;
  --color-cardText: #001524;
  --color-cardHeading: #15616D;

  /* Icon Colors  */
  --color-iconPrimary: #001524;
  --color-iconSecondary: #FF7D00;
  --color-iconAccent: #15616D;


}


.react-calendar__tile--active {
  background: var(--color-paragraph) !important;
  color: var(--color-iconSecondary) !important;
  
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  
} */

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}




body {
  background-color: var(--color-bg);
  color: var(--color-paragraph);
  font-family: 'Inter', sans-serif;

}