@import 'tailwindcss';










@theme {

  /* main color  */
  --color-bg: #001524;
  --color-paragraph: #FFECD1;

  /* button */
  --color-priButton: #FF7D00;
  --color-buttonText: #001524;
  --color-secButton: #15616D;
  --color-secButtonText: #FFECD1;

  /* Cards  */

  --color-cardBackground: #FFECD1;
  --color-cardText: #001524;
  --color-cardHeading: #15616D;

  /* Icon Colors  */
  --color-iconPrimary: #001524;
  --color-iconSecondary: #FF7D00;
  --color-iconAccent: #15616D;


}


.react-calendar__tile--active {
  background: var(--color-paragraph) !important;
  color: var(--color-iconSecondary) !important;

  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;

}

*/ .react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: var(--color-paragraph) !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {

  box-shadow: none !important;
  background-color: var(--color-iconSecondary) !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #77e3dc !important;
}

.rbc-event:nth-child(2) {
  background-color: #9c9ebc !important;
}

.rbc-event:nth-child(3) {
  background-color: #f57ae1 !important;
}

.rbc-event:nth-child(4) {
  background-color: #9d88e7 !important;
}

.rbc-event:nth-child(5) {
  background-color: #bbe9f7 !important;
}

.rbc-event:nth-child(6) {
  background-color: #8d8a62 !important;
}

.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(8) {
  background-color: var(--color-emerald-300) !important;
}

.rbc-event-label {
  color: var(--color-paragraph) !important;
  margin-bottom: 5px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-paragraph);
  font-family: 'Inter', sans-serif;

}